<p><%= t("devise.email.welcome", email: @email) %>!</p>

<p><%= t("devise.email.reset_password_message") %></p>
<p><%= link_to t("devise.email.reset"), edit_password_url(@resource, reset_password_token: @token, locale: locale) %></p>

<p><%= t("devise.email.reset_password_content") %></p>
